<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>三消Demo</title>
  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- 生产环境版本，优化了尺寸和速度 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->

  <script type="text/javascript" src="./main.js"></script>
  <script type="text/javascript" src="./test.js"></script>
  <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body onload="onload();">
  <div id="main" class="main">
    <div class="background">
    
    </div>

    <div class="grid">
      <div class="grid-row" v-for="row in griddata">
        <div class="grid-item" v-for="item in row" :style="{backgroundColor: get_color(item.val)}" @click="player_click(item)">
          <!-- {{item.pow==1 ? 'x' : item.pow}} -->
          {{item.st}}
        </div>
      </div>
    </div>
  </div>
  <!-- control -->
  <div >
    <div style="background-color: white;" onclick="button_click()">click</div>
  </div>
</body>
</html>